    {% load staticfiles %}
    {% load staticfiles bootstrap3 %}

    <!DOCTYPE html>
    <html lang="en">
    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/particles.css' %}"/>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/particles.js' %}"></script>

    {% block no-particles %}
        {% include 'base/particles.html' %}
    {% endblock %}

    <body style="background-color:#ffa726">
      {% block contenido %}
      {% endblock %}
    </body>
    </html>
