{% load staticfiles %}
{% load staticfiles bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <title>{% block title %}Simple is Better Than Complex{% endblock %}</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
            <div class="col-md-11 col-md-offset-11"></div>
                      {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">logout</a>
                      {% else %}
                        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
                      {% endif %}
                      <hr>
        </div>
    </div>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
