{% extends 'base/base_usuarios.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.simplePagination.js' %}"></script>
{% endblock %}

{% block more-estilos %}
<link rel="stylesheet" type="text/css" href="{% static 'css/simplePagination.css' %}"/>
{% endblock %}

{% block botones %}
  <p><li class="dashboard"><a href="{% url 'agentes_a_cargo' %}">Mis agentes</a></li></p>
{% endblock %}


{% block extra %}

  {% if messages %}
    {% for message in messages %}
    <div align="center">
      <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
    </div>
    {% endfor %}
  {% endif %}



      <script type="text/javascript">

        jQuery(document).ready(function($) {
          $(".paginate").click(function() {
            window.location = $(this).data("href");
           });

         });

         jQuery(function($) {
            // Grab whatever we need to paginate
            var pageParts = $(".paginate");

            // How many parts do we have?
            var numPages = pageParts.length;
            // How many parts do we want per page?
            var perPage = 8;

            // When the document loads we're on page 1
            // So to start with... hide everything else
            pageParts.slice(perPage).hide();
            // Apply simplePagination to our placeholder
            $("#page-nav").pagination({
                items: numPages,
                itemsOnPage: perPage,
                cssStyle: "light-theme",
                // We implement the actual pagination
                //   in this next function. It runs on
                //   the event that a user changes page
                onPageClick: function(pageNum) {
                    // Which page parts do we show?
                    var start = perPage * (pageNum - 1);
                    var end = start + perPage;
                    // First hide all page parts
                    // Then show those just for our page
                    pageParts.hide().slice(start, end).show();
                }
              });
          });

      </script>


{% if lista_empresas %}
    <div id="dive" style="margin-left:30; margin-right: 20;" class="answer_list" >
       <div class="row">
         <form method="get" >
           <div class="row align-items-end">
              <div class="col-sm-4 col-md-3">
                {{ lista_personas.form.documento.label_tag }}
                {% render_field lista_personas.form.documento class="form-control" %}
              </div>

              <div class="col-sm-4 col-md-3">
                {{ lista_personas.form.nya.label_tag }}
                {% render_field lista_personas.form.nya class="form-control" %}
              </div>

              <div class="col-sm-4 col-md-3">
              {{ lista_personas.form.cuil.label_tag }}
              {% render_field lista_personas.form.cuil class="form-control" %}
              </div>

              <div class="w-100"></div>

               <div class="col-sm-4 col-md-4">
                 <strong>SAF:<strong>
                 <select name="saf" style="max-width:100%; font-size: 70%" class="form-control">
                      {% for empresa in lista_empresas %}
                        <option value="{{empresa}}">{{empresa.descrip}} ({{empresa}})</option>
                      {% endfor %}
                 </select>
               </div>
               <div class="col">
                 <button type="submit" name="boton-buscar" class="btn btn-primary">
                   <span class="glyphicon glyphicon-search"></span> Filtrar
                </button>
              </div>
           </div>
          </form>
        </div>
      </div>

    <table  id="miTabla" class="table table-bordered" style="background-color:white">
          <thead style="background-color:#cccccc;">
            <tr>
              <th>Documento</th>
              <th>Nombre y Apellido</th>
              <th>Cuil</th>
            </tr>
          </thead>
          <tbody >
            {% for persona in lista_personas.qs %}
              <tr class="paginate" style="cursor:pointer" data-href="{% url 'liquidaciones_agente' documento=persona.documento %}">
                <td>{{ persona.documento }}</td>
                <td>{{ persona.nya }}</td>
                <td>{{ persona.cuil }}</td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
      <div id="page-nav"></div>
  {% endif %}
{% endblock %}



{% block barra-filtros %}

{% endblock %}


{% block tabla-liquidaciones %}
<div class="row">
<div class="col-md-1">
  {% if meses %}
  <div class="container" style="background-color:#ccc; border-radius:5px; margin-top:77; width:150px;">
  <h5>Filtros</h5>
  <form method="post">  {% csrf_token %}
    {% for values in meses %}
      <div class="checkbox" style="display:block;">
        <label><input type="checkbox" name="check" value="{{values}}">  {{values}}</label>
      </div>
    {% endfor %}
    <label><input type="checkbox" onClick="toggle(this)">Todos</label>
    <div align="center">
      <button type="submit" name="boton-buscar" class="btn btn-primary" style="font-size:80%;">
          <i class="fa fa-pencil"> </i><span class="glyphicon glyphicon-search"></span> Filtrar
     </button>
     </div>
  </form>

      <script type="text/javascript">
      function toggle(source) {
          checkboxes = document.getElementsByName('check');
          for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;}}

      function funcion(documento){
        window.location.href="{% url 'liquidaciones_a_pdf' documento=0 %}".replace(0,documento);
      }
      </script>
  </div>

    <div class="container" style="background-color:#ccc; border-radius:5px; width:150px;">
      <h5>Imprimir</h5>
      <div align="center">
        <button type="submit" class="btn btn-primary" onclick="funcion({{doc}});" style="font-size:80%;">
          <i class="fa fa-file"> </i>  <span class="glyphicon glyphicon-search"></span> PDF
       </button>



      </div>
    </div>
{% endif %}
</div>


  <div class="col-md-10">
  	{% if tabla %}
  		<div id="centrado-de-tabla">
        <div align="center">
            <strong>{{nombre_persona}}</strong>
        <div>
  			     {% autoescape off %}{{tabla}}{% endautoescape %}
  		  </div>
      </div>
  	{% endif %}
    </div>
  </div>


  </div>
{% endblock %}



color: #fff;
background-color: #0069d9;
border-color: #0062cc;
