{% extends 'base/base_usuarios.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}"/>
  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>

{% endblock %}

{% block botones %}
  <p><li class="dashboard"><a href="{% url 'agentes_a_cargo' %}">Mis agentes</a></li></p>
{% endblock %}


{% block extra %}

  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
    {% endfor %}
  {% endif %}



      <script type="text/javascript">
        jQuery(document).ready(function($) {
          $(".clickable-row").click(function() {
            window.location = $(this).data("href");
           });
         });
      </script>



{% if lista_empresas %}
    <div id="dive" style="margin-top:100; margin-left:30; margin-right: 20;" class="answer_list" >
       <div class="row">
         <form method="get" >
           <div class="row align-items-end">
               <div class="col">
                 <strong>SAF:<strong>
                 <select name="saf" style="max-width:100%; font-size: 70%" class="form-control">
                      {% for empresa in lista_empresas %}
                        <option value="{{empresa}}">{{empresa.descrip}} ({{empresa}})</option>
                      {% endfor %}
                 </select>
               </div>
               <div class="col">
                 <button type="submit" name="boton-buscar" class="btn btn-primary">
                   <span class="glyphicon glyphicon-search"></span> Filtrar SAF
                </button>
               </div>
           </div>
          </form>
        </div>
      </div>


    <table  id="miTabla" class="table table-bordered" style="visibility:visible">
          <thead style="background-color:#cccccc;">
            <tr>
              <th>Documento</th>
              <th>Nombre y Apellido</th>
              <th>Cuil</th>
            </tr>
          </thead>
          <tbody >
            {% for persona in lista_personas %}
              <tr style="cursor:pointer" class='clickable-row' data-href="{% url 'liquidaciones_agente' documento=persona.documento %}">
                <td>{{ persona.documento }}</td>
                <td>{{ persona.nya }}</td>
                <td>{{ persona.cuil }}</td>
              </tr>
            {% endfor %}
          </tbody>
      </table>

  {% endif %}
{% endblock %}



{% block barra-filtros %}

{% endblock %}


{% block tabla-liquidaciones %}
<div class="row">
<div class="col-md-1">
  {% if meses %}
  <div class="container" style="background-color:#ccc; border-radius:5px; margin-top:77; width:150px; margin-left:0">
  <h5>Filtros</h5>
  <form method="post">  {% csrf_token %}
    {% for values in meses %}
      <div class="checkbox" style="display:block;">
        <label><input type="checkbox" name="check" value="{{values}}">  {{values}}</label>
      </div>
    {% endfor %}
    <label><input type="checkbox" onClick="toggle(this)">Todos</label>
    <input value="Filtrar" type="submit" style="font-size:100%; width:70%; height:2%; background-color: #4CAF50;" value="Filtrar">
  </form>

      <script type="text/javascript">
      function toggle(source) {
          checkboxes = document.getElementsByName('check');
          for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;}}

      function funcion(documento){
        window.location.href="{% url 'liquidaciones_a_pdf' documento=0 %}".replace(0,documento);
      }
      </script>
  </div>

    <div class="container" style="background-color:#ccc; border-radius:5px; width:150px; margin-left:0">
      <h5>Imprimir</h5>
      <div align="center">
        <i class="fa fa-file"><input type="button" name="impirimir" onclick="funcion({{doc}});" value="PDF"></i>
      </div>
    </div>
{% endif %}
</div>


  <div class="col-md-10">
  	{% if tabla %}
  		<div id="centrado-de-tabla">
        <div align="center">
            <strong>{{nombre_persona}}</strong>
        <div>
  			     {% autoescape off %}{{tabla}}{% endautoescape %}
  		  </div>
      </div>
  	{% endif %}
    </div>
  </div>


  </div>
{% endblock %}
