{% extends 'base/base_usuarios.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/administrador.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.simplePagination.js' %}"></script>
{% endblock %}

{% block more-estilos %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/simplePagination.css' %}"/>
{% endblock %}

{% block botones %}
  <p><li class="dashboard"><a href="{% url 'agentes_a_cargo' %}">Mis agentes</a></li></p>
  <p><li class="dashboard"><a href="{% url 'reportes_agentes' %}">Generar Reportes</a></li></p>
{% endblock %}

{% block extra %}

  {% if messages %}
    {% for message in messages %}
    <div align="center">
      <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
    </div>
    {% endfor %}
  {% endif %}


  {% if lista_empresas %}
           <div class="col-md-10">
           <form method="get" style="background-color:#BBDEFB;">
             <div class="row align-items-end">
                <div class="col-sm-4 col-md-3" style="margin-left:10">
                  {{ lista_personas.form.documento.label_tag }}
                  {% render_field lista_personas.form.documento class="form-control" %}
                </div>
                <div class="col-sm-4 col-md-3">
                  {{ lista_personas.form.nya.label_tag }}
                  {% render_field lista_personas.form.nya class="form-control" %}
                </div>
                <div class="col-sm-4 col-md-3">
                {{ lista_personas.form.cuil.label_tag }}
                {% render_field lista_personas.form.cuil class="form-control" %}
                </div>
                <div class="w-100"></div>
                 <div class="col-sm-4 col-md-3" style="margin-left:10">
                   <strong>SAF:<strong>
                   <select name="saf" style="max-width:100%; font-size: 70%" class="form-control">
                        {% for empresa in lista_empresas %}
                          <option value="{{empresa}}">{{empresa.descrip}} ({{empresa}})</option>
                        {% endfor %}
                   </select>
                 </div>
                 <div class="col">
                   <button type="submit" name="boton-buscar" class="btn btn-primary">
                     <span class="glyphicon glyphicon-search"></span> Filtrar
                  </button>
                </div>
             </div>
           </form>
       </div>

          <div class="col-md-10">
            <table style="margin:auto;" id="miTabla" class="table table-bordered">
                <thead style="background-color:#cccccc; text-align:center;">
                  <tr>
                    <th style="width:100px;">Documento</th>
                    <th style="width:100px;">Nombre y Apellido</th>
                    <th style="width:100px;">Cuil</th>
                  </tr>
                </thead>
                <tbody >
                  {% for persona in lista_personas.qs %}
                    <tr class="paginate" style="cursor:pointer" data-href="{% url 'liquidaciones_agente' documento=persona.documento %}">
                      <td onmouseover="hover()">{{ persona.documento }}</td>
                      <td onmouseover="hover()">{{ persona.nya }}</td>
                      <td onmouseover="hover()">{{ persona.cuil }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
                </table>
                {%if lista_personas.qs%}
                <div class="row">
                  <div class="col-md-4" style="margin:auto;">
                    <div class= "dark-theme" id="page-nav"></div>
                    </div>
                </div>
                {% endif %}
          </div>
      {% endif %}
  {% endblock %}


{% block reportes %}
  {% if lista_saf %}

       <div class="col-md-10">
         <form method="post" style="background-color:#BBDEFB;">
           {% csrf_token %}
            <div class="row" align="center">

              <div class="col-md-3">
                <strong>Mes:<strong>
                <select name="saf" style="max-width:100%; font-size: 70%" class="form-control">
                  {% for values in lista_meses %}
                    <option value="{{values.id}}">{{values.nombre}}</option>
                  {% endfor %}
                </select>
              </div>

               <div class="col-md-10">
                 <strong>SAF:<strong>
                 <select name="saf" style="max-width:100%; font-size: 70%" class="form-control">
                      {% for empresa in lista_saf %}
                        <option value="{{empresa}}">{{empresa.descrip}} ({{empresa}})</option>
                      {% endfor %}
                 </select>
               </div>

            </div>

                <div class="col-md-12" style="margin-top:40" align="center">
                  <button type="submit" name="boton-buscar" class="btn btn-primary" style="margin:auto;">
                   <i class="fa fa-file"> </i><span class="glyphicon glyphicon-search"></span> PDF
                </button>
                <button type="submit" name="boton-buscar" class="btn btn-primary" style="margin:auto; background-color: green;">
                 <i class="fa fa-file-excel-o"> </i><span class="glyphicon glyphicon-search"></span> EXCEL
              </button>
                </div>


          </form>
        </div>

      {% if tabla_reportes %}
    		<div id="centrado-de-tabla">
          <div align="center">
              <strong>{{nombre_persona}}</strong>
          <div>
    			     {% autoescape off %}{{tabla_reportes}}{% endautoescape %}
    		  </div>
        </div>
      </div>
      {% endif %}
    {% endif%}
{% endblock %}


{% block tabla-liquidaciones %}
  <div class="row">
    <div class="col-md-1">
      {% if meses %}
      <div class="container" style="background-color:#ccc; border-radius:5px; margin-top:77; width:150px;">
        <h5>Filtros</h5>
        <form method="post">  {% csrf_token %}
          {% for values in meses %}
            <div class="checkbox" style="display:block;">
              <label><input type="checkbox" name="check" value="{{values}}">  {{values}}</label>
            </div>
          {% endfor %}
          <label><input type="checkbox" onClick="toggle(this)">Todos</label>
          <div align="center">
            <button type="submit" name="boton-buscar" class="btn btn-primary" style="font-size:80%;">
                <i class="fa fa-pencil"> </i><span class="glyphicon glyphicon-search"></span> Filtrar
           </button>
           </div>
        </form>
      </div>
      <div class="container" style="background-color:#ccc; border-radius:5px; width:150px;">
        <h5>Imprimir</h5>
        <div align="center">
          <button type="submit" class="btn btn-primary" onclick="funcion({{doc}});" style="font-size:80%;">
            <i class="fa fa-file"> </i>  <span class="glyphicon glyphicon-search"></span> PDF
         </button>
        </div>
      </div>
    {% endif %}
    </div>


      <div class="col-md-10">
        	{% if tabla %}
              <div align="center">
                  <strong>{{nombre_persona}}</strong>
              <div>
        			     {% autoescape off %}{{tabla}}{% endautoescape %}
        		  </div>
        	{% endif %}
          </div>
      </div>

  </div>

  <script type="text/javascript">
  function funcion(dni){
    var url = "{% url 'liquidaciones_a_pdf' documento=0 %}".replace('0', dni);
    window.location.href = url;}
  </script>
{% endblock %}
