{% extends 'base/base_usuarios.html' %}
{% load staticfiles bootstrap3 %}

{% block barra-filtros %}
	{% if meses %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/agente_y_administrador.css' %}"/>

  	<div class="contenedor">
				{% for key, values in meses.items %}
		       	<a href="{% url 'liquidaciones_agente' mes=key %}"><i class="fa fa-pencil"></i> {{values}}</a>
	 			{% endfor %}
				<a href="{% url 'liquidaciones_agente' %}"><i class="fa fa-pencil"></i>TODOS</a>
		</div>
	{% endif %}
{% endblock %}

{% block tabla-liquidaciones %}
	{% if tabla %}
		<div id="centrado-de-tabla">
			<div align="center">
            <strong>{{nombre_persona}} </strong>
      <div>
			{% autoescape off %}{{tabla}}{% endautoescape %}
		</div>
		<div align="center">
			<a href="{% url 'liquidaciones_a_pdf' %}"><i class="fa fa-file"></i> Imprimir Liquidación</a>			
		</div>
	{% endif %}
{% endblock %}
