{% load staticfiles bootstrap3 %}

{% block contenido %}
<style media="screen">


table{
	background-color: #ffffff;
	text-align: center;

}

</style>


<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"/>
<header role="banner">
  <h1>Sistema de visualizacion de liquidaciones</h1>
  <ul class="utilities">
    <li class="users"><a href="#">Perfil</a></li>
    <li class="logout warn"><a href="">Salir</a></li>
  </ul>
</header>


<nav role="navigation">
  <ul class="main">
		<li><a href="{% url 'liquidaciones_agente' %}">Mis liquidaciones</a></li>
    <li class="dashboard"><a href="#">Dashboard</a></li>
    <li class="write"><a href="#">Write Post</a></li>
    <li class="edit"><a href="#">Edit Posts</a></li>
    <li class="comments"><a href="#">Comments</a></li>
    <li class="users"><a href="#">Manage Users</a></li>
  </ul>
</nav>

<main role="main">
  <body style="background-color:#FFA000;">

<table class="table table-stripped">
	<p><p>{{resul}}</p></p>
</table>




	</body>
</main>
<footer role="contentinfo">Ministerio de Economia-Chubut</footer>
{% endblock %}
