{% extends 'base/base.html' %}
{% load staticfiles bootstrap3 %}

{% block contenido %}

<style media="screen">
table
tr, th, td {
	background-color: #eee;
	border: 2px solid blue;
	text-align:center;
	height: 30px;
	}
table thead{
	background-color: #FFCC80;
}
</style>


<link rel="stylesheet" type="text/css" href="{% static 'css/agente.css' %}"/>
<nav class="navbar navbar-default navbar-static-top" style="margin-left: 20px; margin-right: 20px; margin-top:30px;">
<p style="text-align:center; font: 150% sans-serif;"></p>
</nav>

	<div class="container-fluid main-container">
		<div class="col-md-2 sidebar">
			<ul class="nav nav-pills nav-stacked">
				<div class="panel panel-default">
					<div class="panel-heading" style="text-align:center; background-color:#FFCC80; font: 150% sans-serif;"> Filtros</div>
          <div class="panel-body" style="background-color:#FFE0B2;">
							{% if documentos %}
							{% for key, values in meses.items %}
								<p><a href="{% url 'liquidaciones_agente' documento=documentos mes=key %}">{{values}}</a></p>
							{% endfor %}
							<p><a href="{% url 'liquidaciones_agente' documento=documentos %}">todos</a></p>
							<p><p></p></p>
							<li><a href="{% url 'agentes_a_cargo' %}">Volver</a></li>

							{%else %}
							{% for key, values in meses.items %}
								<p><a href="{% url 'liquidaciones_agente' mes=key %}">{{values}}</a></p>
							{% endfor %}
							<p><a href="{% url 'liquidaciones_agente' %}">todos</a></p>
							<p><p></p></p>
							<li><a href="{% url 'home' %}">Volver</a></li>
							{% endif %}
						</div>
					</div>



			</ul>
		</div>

    	<div class="col-md-10 content" >
				<div align="center">
          <div class="panel panel-default">
              <div class="panel-heading" style="background-color:#FFCC80; font: 150% sans-serif;"> Mi Resumen</div>
              <div class="panel-body" style="background-color:#FFE0B2;">
								<body style="background-color:#ff8a65;">
								<div class="container">
									<div class="row">
											<div class="col-md-10">
													{{resul}}
													<br>
													<a href="{% url 'liquidaciones_a_pdf' %}" class="btn btn-primary" role="button">Imprimir Liquidación</a>
											</div>
									</div>
								</div>
								</div>
							</body>
							</div>
							</div>
          </div>
    	</div>
	{% endblock %}
