{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block javascript %}
  {% block more-javascript%}{% endblock %}
{% endblock %}

{% block estilos %}
  {% block more-estilos %}{% endblock %}
{% endblock %}

{% block contenido %}
  <main role="main">
          <strong>Fecha:{% now "SHORT_DATE_FORMAT" %}</strong>
          <br>
          <strong>Empleado: {{liqfin.cuit}}, {{liqfin.nya}}</strong>
          <br>
          <strong>Agente de retención: {{liqfin.ecuit}}, {{liqfin.descrip}}</strong>
          <br>
          <strong>Periodo Fiscal: {{liqfin.periodo}}</strong>
          <br>
          <table>
            <thead>
              <tr>
                   <th>Concepto</th>
                   <th>Monto</th>
              </tr>
            </thead>
            <tbody>
              {% for key, values in dict_datos.items %}
               <tr>
                   <td>{{key}}</td>
                   <td>{{values}}</td>
               </tr>
              {% endfor %}
            </tbody>
          </table>

  </main>
{% endblock %}

{% block footer %}
  <footer role="contentinfo">Ministerio de Economia-Chubut</footer>
{% endblock %}
