<style  type="text/css" >
    #T_fd74a5b0_995b_11e7_b610_10c37b4cda2brow0_col0 {
            color:  black;
            : ;
        }    #T_fd74a5b0_995b_11e7_b610_10c37b4cda2brow1_col0 {
            color:  black;
            : ;
        }    #T_fd74a5b0_995b_11e7_b610_10c37b4cda2brow2_col0 {
            color:  black;
            : ;
        }    #T_fd74a5b0_995b_11e7_b610_10c37b4cda2brow3_col0 {
            color:  black;
            : ;
        }    #T_fd74a5b0_995b_11e7_b610_10c37b4cda2brow4_col0 {
            color:  red;
            : ;
        }    #T_fd74a5b0_995b_11e7_b610_10c37b4cda2brow5_col0 {
            color:  black;
            background-color:  #F0E68C ;
        }    #T_fd74a5b0_995b_11e7_b610_10c37b4cda2brow6_col0 {
            color:  black;
            background-color:  #F0E68C ;
        }    #T_fd74a5b0_995b_11e7_b610_10c37b4cda2brow7_col0 {
            color:  black;
            background-color:  #F0E68C ;
        }    #T_fd74a5b0_995b_11e7_b610_10c37b4cda2brow8_col0 {
            color:  black;
            background-color:  #F0E68C ;
        }    #T_fd74a5b0_995b_11e7_b610_10c37b4cda2brow9_col0 {
            color:  black;
            background-color:  #F0E68C ;
        }</style>  
<table id="T_fd74a5b0_995b_11e7_b610_10c37b4cda2b" > 
<thead>    <tr> 
        <th class="index_name level0" >nombre</th> 
        <th class="col_heading level0 col0" >Abril</th> 
    </tr></thead> 
<tbody>    <tr> 
        <th id="T_fd74a5b0_995b_11e7_b610_10c37b4cda2blevel0_row0" class="row_heading level0 row0" >Total Retenciones Haberes Acumuladas</th> 
        <td id="T_fd74a5b0_995b_11e7_b610_10c37b4cda2brow0_col0" class="data row0 col0" >4025.55</td> 
    </tr>    <tr> 
        <th id="T_fd74a5b0_995b_11e7_b610_10c37b4cda2blevel0_row1" class="row_heading level0 row1" >Monto Considerado Seguros</th> 
        <td id="T_fd74a5b0_995b_11e7_b610_10c37b4cda2brow1_col0" class="data row1 col0" >44.6</td> 
    </tr>    <tr> 
        <th id="T_fd74a5b0_995b_11e7_b610_10c37b4cda2blevel0_row2" class="row_heading level0 row2" >Deduccion Especial</th> 
        <td id="T_fd74a5b0_995b_11e7_b610_10c37b4cda2brow2_col0" class="data row2 col0" >101440</td> 
    </tr>    <tr> 
        <th id="T_fd74a5b0_995b_11e7_b610_10c37b4cda2blevel0_row3" class="row_heading level0 row3" >Ganancia no imponible</th> 
        <td id="T_fd74a5b0_995b_11e7_b610_10c37b4cda2brow3_col0" class="data row3 col0" >21133.2</td> 
    </tr>    <tr> 
        <th id="T_fd74a5b0_995b_11e7_b610_10c37b4cda2blevel0_row4" class="row_heading level0 row4" >GANANCIA SUJETA IMPUESTO</th> 
        <td id="T_fd74a5b0_995b_11e7_b610_10c37b4cda2brow4_col0" class="data row4 col0" >-102049</td> 
    </tr>    <tr> 
        <th id="T_fd74a5b0_995b_11e7_b610_10c37b4cda2blevel0_row5" class="row_heading level0 row5" >ALICUOTA</th> 
        <td id="T_fd74a5b0_995b_11e7_b610_10c37b4cda2brow5_col0" class="data row5 col0" >0</td> 
    </tr>    <tr> 
        <th id="T_fd74a5b0_995b_11e7_b610_10c37b4cda2blevel0_row6" class="row_heading level0 row6" >IMPUESTO PARCIAL</th> 
        <td id="T_fd74a5b0_995b_11e7_b610_10c37b4cda2brow6_col0" class="data row6 col0" >0</td> 
    </tr>    <tr> 
        <th id="T_fd74a5b0_995b_11e7_b610_10c37b4cda2blevel0_row7" class="row_heading level0 row7" >IMPUESTO DETERMINADO</th> 
        <td id="T_fd74a5b0_995b_11e7_b610_10c37b4cda2brow7_col0" class="data row7 col0" >0</td> 
    </tr>    <tr> 
        <th id="T_fd74a5b0_995b_11e7_b610_10c37b4cda2blevel0_row8" class="row_heading level0 row8" >IMPUESTO  FINAL (con pagos a cuenta)</th> 
        <td id="T_fd74a5b0_995b_11e7_b610_10c37b4cda2brow8_col0" class="data row8 col0" >0</td> 
    </tr>    <tr> 
        <th id="T_fd74a5b0_995b_11e7_b610_10c37b4cda2blevel0_row9" class="row_heading level0 row9" >Imp a Retener / Reint.Mensual</th> 
        <td id="T_fd74a5b0_995b_11e7_b610_10c37b4cda2brow9_col0" class="data row9 col0" >0</td> 
    </tr></tbody> 
</table> 