{% load staticfiles %}
{% load staticfiles bootstrap3 %}

<div class="container container-form" >
      <h2>Editar Contraseña</h2>
      <form method="post">
          {% csrf_token %}
          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="col-xs-12 col-md-7" id="container-form-left">
                      {{ form.as_p }}
                      {% if form.non_field_errors%}
                          <div class="alert alert-danger" role="alert">{{form.non_field_errors}}</div>
                      {% endif %}
                  </div>
              </div>
              <div class="panel-footer">
                  <input type="submit" class="btn btn-primary" value="Guardar cambios">
                  <a class="btn btn-danger btn-cancelar" href="{% url 'home' %}">Cancelar</a>
              </div>
          </div>
      </form>
</div>
