{% extends 'base/base_login-nuevo_usuario.html' %}

{% block formulario %}
  {% csrf_token %}
  {% for field in form %}
      <br>{{ field }}<br>
      {% if field.help_text %}
        <br><p><small style="color: grey">{{ field.help_text }}</small></p>
      {% endif %}
  {% endfor %}
  <br><button type="submit" class="btn btn-primary btn-lg" style="background-color:#B71C1C;">Ingresar</button>
  <p><small><a style="color: black" class="login-link" href="{% url 'nuevo_usuario' %}">Nuevo en el sitio?</a></small></p>
{% endblock %}
