{% extends 'base/base_login-nuevo_usuario.html' %}

{% block chubut %}
    <p><h4 style="color: black">Ingrese sus datos por primera vez</h4></p>
{% endblock %}

{% block formulario %}
  {% csrf_token %}
  {% for field in form %}
      <br>{{field}}<br>
      {% if field.help_text %}
        <br><p><small style="color: grey">{{ field.help_text }}</small></p>
      {% endif %}
  {% endfor %}
  <br><button type="submit" class="btn btn-primary btn-lg" style="background-color:#B71C1C;">Ingresar</button>
{% endblock %}
