h1.page-header {
  margin-left: 20px;
  margin-right: 20px;
}
.sidebar {
  padding-left: 20;
  padding-right: 20;
}
.main-container {
  background: #FFF;
  padding-top: 15px;
  margin-top: -20px;
  margin-left: 20px;
  margin-right: 20px;
}
