{% load staticfiles %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/chosen.jquery.min.js' %}"></script>
{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'css/chosen.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"/>
{% endblock %}

<header role="banner">
  <h1>Admin Panel</h1>
  <ul class="utilities">
    <li class="logout warn"><a href="{% url 'logout' %}">Salir</a></li>
  </ul>
</header>

{%block botones%}
<nav role="navigation" style="background-color:#4E342E">
  <ul class="main">
    <li class="dashboard"><a href="{% url 'carga_csv' %}">Cargar archivos CSV</a></li>
    <li class="write"><a href="{% url 'baja' %}">Baja de elementos</a></li>
    <li class="edit"><a href="{% url 'alta_empresa_admin' %}">Alta Empresa-Admin</a></li>
  </ul>
</nav>
{% endblock %}

<body style= "background-color: #EF5350;">
<main role="main">
  <section class="panel important">
    <h2>Bienvenido administrador: "NOMBRE" </h2>
    <ul>
      <li>Aca va a poder hacer un monton de cosas locas.</li>
    </ul>
  </section>

  {% if form %}
  <section class="panel">
    <h2>Cargar archivos CSV </h2>
    <body>
     <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
       <div class="row">
         <div class="col-md-6">
           <div align= "justify">
             <p>1) Elija la tabla a la que desea cargar datos</p>
            {{form.tabla}}
           </div>
          </div>
         <div class="col-md-6">
           <div align= "justify">
           <p>2) Elija el archivo en formato CSV</p>
              {{form.docfile}}
           </div>
         </div>
      </div>
      <input type="submit" value="Cargar" style="background-color:#0D47A1">
     </form>
    </body>
  </section>
  {% endif %}


{% if tablas %}
  <section class="panel">
    <h2>Baja de datos</h2>
    <div class="feedback error">Atencion
        <ul>
          <li>Estas opciones permiten borrar datos de manera <strong>PERMANENTE</strong></li>
        </ul>
      </div>
      <select id="chosen-with">
      <option disabled selected>Seleccion una tabla..</option>
       {% for tabla in tablas %}
         <option value="{{tabla}}">{{tabla}}</option>
       {% endfor %}
      </select>
  </section>
  {% endif %}


{% if empresas %}
<form action="" method="post">{% csrf_token %}
  <section class="panel">
    <h2>Empresas</h2>
    <div class="feedback error">Atencion</div>
    <div align= "center">
        <select name="empresa" id="empresa_id" required>
          <option value="">Seleccione una persona..</option>
          {% for empresa in empresas %}
            <option value="{{empresa}}">{{empresa}}</option>
          {% endfor %}
        </select>
    </div>
  </section>

  <section class="panel">
    <h2>Personas</h2>
    <div class="feedback error">Atencion</div>
    <div align= "center">
        <select name= "documento" id="documento_id" required>
        <option value="">Seleccione una persona..</option>
        {% for persona in personas %}
          <option value="{{persona}}">{{persona}}</option>
        {% endfor %}
        </select>
    </div>
  </section>
  <input type="submit" value="Cargar" style="background-color:#0D47A1">
 </form>

<script>
  $('.chosen').chosen({
    width: '70%',
    allow_single_deselect: true,
    no_results_text: "No se encontó el documento!"
    });

    $('.chosen').data("placeholder","Select").trigger('chosen:updated');
    $('#lhs-flr-country').change(function(){
        var c_id=$(this).val();
        var data ={country_id:c_id};
         get_regions(data);
    });
    function get_personas(data)
    {
        $.ajax({
             type: "POST",
             url: "alta_empresa_admin",         //the script to call to get data
             data: data,                       //you can insert url argumnets here to pass to api.php
             dataType: 'json',                //data format
             success: function(data)          //on recieve of reply
             {
               var length = data.length;
               var result='';
                if(length > 0) {
                   result = '&lt;option value=&quot;&quot;&gt;Select a Region&lt;/option&gt;';

                   //BOUND POR CADA PERSONA
                   $.each( data, function( key, value ) {
                           result += '<option value="' + value.documento + '">' + '</option>';
                   });
                   $("#lhs-flr-region").html(result);
                   $("#lhs-flr-region").data("placeholder","Select").chosen();
               }
               else
               {
                   alert("No Region found.");
               }
             }
           });
    }


</script>
{% endif %}



</main>
</body>
<footer role="contentinfo">Easy Admin Style by Melissa Cabral</footer>
